:root {
  --main-font: 'SF-Pro-Display', sans-serif;

  --white: #FFF;
  --black: #000;
  --black-bg: #262626;
  --black-border: #4D4D4D;
  --black-text: #2D2D2D;
  --red: #FA7272;

  --card-radius: 12px;
}